body{
    
    height: 100vh;
    background-image: url("http://subirimagen.me/uploads/20190206091012.jpg");
    /*background-size: 90px; */
    background-position:center;/*centrar imagen*/
    background-repeat: no-repeat;/* no repetir imagen*/
    background-size: cover;/*especifica tamaño de la imagen*/
    
    
}
 h1 {
color: red;
font-size: 50px;
    }
 p {
color: blue;
    }
